@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:1024px) {
    
    html, body {
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(to bottom, var(--rosa), var(--roxo), var(--azul), var(--verde));
    }
    
    section#login {
        width: 85vw;
        height: 280px;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 70%;
        padding: 0 10px 10px 10px;
    }

    div#formulario h1 {
        margin-bottom: 0px;
    }

    form {
        margin-top: 5px;
    }

    #diva-email, #div-senha {
        padding: 5px
    }

    #div-senha {
    margin-top: 5px;
    }

    #iemail, #isenha {
        padding: 5px;
    }

    #entrar, #esqueci-senha {
    padding: 8px;
    margin-top: 5px;
}

}

@media screen and (min-width:1025px) {
    html, body {
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(to bottom, var(--rosa), var(--roxo), var(--azul), var(--verde));
    }
    
    section#login {
        width: 950px;
        height: 450px;
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        float: left;
        width: 50%;
    }
    
    div#formulario h1 {
        font-size: 2.5em;
    }

    div#formulario p {
        font-size: 1.2em;
    }
}