@charset "UTF-8";

/* 
PALETA DE CORES
roxo #4A0059
pink #F2059F
azul #0583F2
verde #05F2AF
verdinho #AFFFFF
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --roxo:#4A0059;
    --roxinho:#9c0cb9;
    --rosa:#F2059F;
    --rosinha:#f389ce;
    --azul:#0583F2;
    --azulziho:#7eb8eb;
    --verde:#05F2AF;
    --verdinho:#AFFFFF;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--roxinho);
    position: relative;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 80vw;
}

div#imagem {
    height: 150px;
    background-image: url(../imagens/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 20px 20px 0px 0px;
}

div#formulario {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p {
    text-align: justify;
    line-height: 1.3em;
}

#div-email, #div-senha {
    background-color: var(--azul);
    border-radius: 8px;
    margin-top: 10px;
    padding: 9px;
}

ion-icon {
    color: white;
    width: 25px;
    height: 25px;
    margin-right: 9px;
}

#iemail, #isenha {
    padding: 8px;
    background-color: var(--verdinho);
    border-radius: 8px;
    border: none;
    width: 75%;
}

#entrar, #esqueci-senha {
    width: 100%;
    padding: 11px;
    margin-top: 10px;
    border: none;
}

#entrar {
    background-color: var(--roxo);
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

#esqueci-senha {
    font-weight: bold;
    background-color: white;
    border: 1px solid var(--roxo);
    border-radius: 8px;
    color: var(--roxo);
}

#entrar:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: var(--verde);
    color: var(--roxo);
    border: 2px solid var(--roxo);
}

#esqueci-senha:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: var(--verde);
    color: var(--roxo);
    border: 2px solid var(--roxo);
}